
01_data preparation.ipynb
01_data/additional_resource_file_readme.txt
01_data/AoA_51715_words.csv
01_data/Concreteness_ratings_Brysbaert_et_al_BRM.txt
01_data/dale_chall.txt
01_data/sampleSubmission.csv
01_data/WikiLarge_Test.csv
01_data/WikiLarge_Train.csv
